<div class="main">
  <div fxLayoutAlign="center center">
    <mat-card class="demo">
     <!-- <form [formGroup]="formGroup">
        <input type="hidden" formControlName="$key">-->
        <br>
        <div fxLayout="row" fxLayoutAlign="center start" class="loginheader">
          <span class="headerName1"  fxHide.xs="true"> Fundoo  </span>
          <br>
          <span class="headerName"  fxHide.xs="true"> Login </span> </div>
        <br>
        <br>
        <div>
          <mat-form-field appearance="outline" class="form">
            <mat-label>Email-Id</mat-label>
            <input   matInput placeholder="Email" name="emailId" type="emailId" [formControl]="emailId" required>
            <mat-icon matSuffix style="margin-right: 10px;" color="disabled">account_circle</mat-icon>
            <mat-error>
              This field is mandatory.
            </mat-error>
          </mat-form-field>
        </div>
        <br>
        <div>
          <mat-form-field appearance="outline" class="form">
            <mat-label>Password</mat-label>
            <input   matInput placeholder="Password" name="password" type="password" [formControl]="password" required>
            
            <mat-icon matSuffix style="margin-right: 10px;" color="disabled">visibility_off</mat-icon>
            <mat-error>
              This field is mandatory
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <div class="button-row" fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="space-evenly-center">
            <button mat-raised-button type="submit" color="warn"  value="Login"
            (click)="loginNow()">Login</button>
            <button mat-raised-button color="primary" onclick="window.location.href='http://localhost:4200/register'"
              fxLayoutAlign="center center">Register</button>
          </div>
          <a matSuffix style="margin-right: 10px;" href="http://localhost:4200/forget">
            Forget Password ?
          </a>
        </div>
      <!--</form>-->
    </mat-card>
  </div>
</div>