<div style="text-align:center" color="primary">
  <h1>Welcome to {{title}}!!!</h1>
</div>
<div fxLayoutAlign="center center" class="main-div">
   <form [formGroup]="service.form" fxLayoutAlign="stretch" >  
    <mat-card  class="demo">
          <input type="hidden" formControlName="$key">
              <mat-toolbar color="warn" fxLayout="row">Login Page</mat-toolbar>
                <mat-form-field fxLayout="column">
                  <input [(ngModel)]="userlogin.emailId"  id="emailId" formControlName="emailId" matInput type="emailId " placeholder="emailId*">
                  <mat-icon matSuffix style="margin-right: 10px;"color="disabled">account_circle</mat-icon>
                  <mat-error>
                    This field is mandatory.
                  </mat-error>
                  </mat-form-field>
                  <mat-form-field  fxLayout="column">
                    <input  [(ngModel)]="userlogin.password" id="txt"  formControlName="password" matInput type="password" placeholder="Password*">
                    <mat-icon matSuffix style="margin-right: 10px;" color="disabled">vpn_key</mat-icon>
                    <mat-error>
                      This field is mandatory
                    </mat-error>
                  </mat-form-field>
                  <div class="button-row" fxLayout="row">
                  <button mat-raised-button type="submit" color="warn" fxLayout="column"  value="Login" (click)="loginNow()">Login</button>
                  <button mat-raised-button color="primary" onclick="window.location.href='http://localhost:4200/register'" fxLayoutAlign="center center">Register</button>
                    
                  </div>
                  <a href="http://localhost:4200/forgetpassword">
                    Forget Password ? 
                </a>   
                </mat-card>
      </form> 
    
    </div>
    