
.main-dash {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.menubutton {
    margin-left: -1%;
}

.toolbar {
    display: flex;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 5px;
    
}
.logo
{
    margin-top: 4%;
    width: 40px;
    margin-left: 14%; 
    display: flex;
    padding-right: 7px;
}
.searchbar {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 7px;
    outline: none;
    background: #fff;
       padding-bottom: 8px;
    width: 95%; 
    border-radius: 6px; 
    margin-left: 100px;
    margin-top: 1px;
    padding-top: 8px;
}
.search-input {
    display: flex;
    border: none;
    width: 88%; 
    font-size: 16px;
    outline:none;
    border:none;
   
}
#sidenav.menu-close{
    width:50px;
}
#sidenav.menu-open{
    width:240px;
}


.matSidenav {
    font-size: smaller;
    font-family: monospace;
    width: 15%;
    height: 100%;
    margin: 0;
    top: 0;
    overflow: hidden;
    justify-content: center !important;
    background-color: transparent;
    border: none;
    margin-top: 10px;
}
.sidenav-icon {
    margin-right: 1em;
    height: 24px;
    float: left;
    margin-top: 8px;
}
.sidenav-div {
    height: 100%;
    width: 100%;
    border: none;
    border-color: whitesmoke;
}

.sidenav-container {
    height: 100%;
    display: flex;
    border-color: whitesmoke;
}
.navbutton {
    width: 100%;
    height: 50px;
    outline: none;
    border-bottom: none;
    border: none;
    border-bottom-style: hidden;
}
.navbutton:hover {
    background-color: lightgrey;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    display: flex;
}
.navbutton1{
    background-color: rgba(240, 177, 3, 0.349);
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    

}
.navbutton1 {
    width: 100%;
    height: 50px;
    outline: none;
    border-bottom: none;
    border: none;
    border-bottom-style: hidden;
}

.divider {
    margin: 20px 0 20px 0;
}

.sidenav-title {
    margin-left: 30px;
}

.sidenav-content {
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.headerName
{
    color: rgb(255, 174, 0)
}
.headerName1
{
    color: rgba(0, 0, 0, 0.342);
}
.appcards{
    width: 100vw;
    height: 100vh;
}



