/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0;
  background: url( login2.jpg) no-repeat;
  background-size: cover;
  font-family: Roboto, "Helvetica Neue", sans-serif;


}
  
  .add-bottom-padding
  {
    padding-bottom: 10px;
  }
  .button-row button
  {
    margin-left: 1px;
    margin:10%;
  }
  .demo{
    background: rgb(225, 233, 235);
    
  }
  mat-icon
  {
    color: rgba(44, 48, 53, 0.945);
  }
  
mat-toolbar{
  display: flex;
}
mat-raised-button
{
  display: flex;
}