<div fxLayoutAlign="center center" class="main-div">
  <form [formGroup]="service.form" fxLayoutAlign="stretch"  >
  <mat-card class="demo">
    <input type="hidden" formControlName="$key">
      <mat-toolbar color="warn" fxLayout="row">ForgetPassword</mat-toolbar>
                <mat-form-field fxLayout="column">
            <input formControlName="emailId" matInput type="emailId " placeholder="emailId*">
            <mat-icon matSuffix style="margin-right: 10px;" color="disabled">contact_mail</mat-icon>
            <mat-error>
              This field is mandatory.
            </mat-error>
          </mat-form-field>
        
          <mat-form-field fxLayout="column">
            <input  formControlName="mobileNo"matInput type="mobileNo" placeholder="mobileNo*">
            <mat-icon matSuffix style="margin-right: 10px;" color="disabled">call</mat-icon>
            <mat-error>
              This field is mandatory.
            </mat-error>
          </mat-form-field>
          <div class="button-row" fxLayout="row">
            <button mat-raised-button type="submit" color="warn" >Submit</button>
            <button mat-raised-button type="submit" color="primary" >Clear</button>
          </div>        
  </mat-card>
</form>

</div>