<div class="main">
    <div fxLayoutAlign="center center">
        <mat-card class="demo">
            <form [formGroup]="service.form">
                <input type="hidden" formControlName="$key">
                <br>
                <div fxLayout="row" fxLayoutAlign="center start" class="forgetheader">Forget-Password </div>
                <br>
                <div>
                    <mat-form-field appearance="outline" class="form">
                        <mat-label>Email-Id</mat-label>
                        <input [(ngModel)]="userforget.emailId" id="emailId" formControlName="emailId" matInput
                            type="emailId " placeholder="emailId*">
                        <mat-icon matSuffix style="margin-right: 10px;" color="disabled">account_circle</mat-icon>
                        <mat-error>
                            This field is mandatory.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="form">
                        <mat-label>Mobile-no</mat-label>
                        <input [(ngModel)]="userforget.mobileNo" id="mobile.No" formControlName="mobileNo" matInput
                            type="mobileNo" placeholder="mobileNo*">
                        <mat-icon matSuffix style="margin-right: 10px;" color="disabled">call</mat-icon>
                        <mat-error>
                            This field is mandatory
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <div class="button-row" fxLayout="row">
                        <button mat-raised-button type="submit" color="warn" fxLayout="column" value="Forget"
                            (click)="ForgetNow()">Submit</button>
                        <button mat-raised-button color="primary">Clear</button>
                    </div>
                </div>
            </form>
        </mat-card>

    </div>