mat-toolbar
{
  align-items: center;

  justify-content: left;
}
 
 mat-icon
 {
   
   justify-content: right;
 }

 mat-raised-button
 {
   padding: 0%;
 }
 .main-div{
   height: 100vh;
 }
 .demo
 {
   width: 20vw;
   height: 40vh;
 }