<div class="main">
  <div fxLayoutAlign="center start">
    <mat-card class="demo">
      <form [formGroup]="service.form">
        <input type="hidden" formControlName="$key">
        <br>
        <div fxLayout="row" fxLayoutAlign="center start" class="registerheader"> Fundoo Registration </div>
        <br>
        <div>
          <mat-form-field appearance="outline" class="form">
            <input [(ngModel)]="user.username" id="username" formControlName="username" matInput type="username:"
              placeholder="username*">
            <mat-icon matSuffix style="margin-right: 10px;" color="disabled">perm_identity</mat-icon>
            <mat-error>
              This field is mandatory.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form">
            <input [(ngModel)]="user.name" id="txt" formControlName="name" matInput type="name" placeholder="name*">
            <mat-icon matSuffix style="margin-right: 10px;" color="disabled">person_add</mat-icon>
            <mat-error>
              This field is mandatory.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form">
            <input [(ngModel)]="user.password" id="txt" formControlName="password" matInput type="password:"
              placeholder="Password*">
            <mat-icon matSuffix style="margin-right: 10px;" color="disabled">visibility_off</mat-icon>
            <mat-error>
              This field is mandatory.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form">
            <input [(ngModel)]="user.emailId" id="txt" formControlName="emailId" matInput type="emailId:"
              placeholder="emailId*">
            <mat-icon matSuffix style="margin-right: 10px;" color="disabled">contact_mail</mat-icon>

            <mat-error>
              This field is mandatory.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form">
            <input [(ngModel)]="user.country" id="txt" formControlName="country" matInput type="country:"
              placeholder="country*">
            <mat-icon matSuffix style="margin-right: 10px;" color="disabled">location_on</mat-icon>

            <mat-error>
              This field is mandatory.
            </mat-error>
          </mat-form-field>

        </div>
        <div>
          <mat-form-field appearance="outline" class="form">
            <input [(ngModel)]="user.mobileNo" id="mobileNo" formControlName="mobileNo" matInput type="mobile No :"
              placeholder="mobile No*">
            <mat-icon matSuffix style="margin-right: 10px;" color="disabled">call</mat-icon>
            <mat-error>
              This field is mandatory.
            </mat-error>
          </mat-form-field>
        </div>
        <br>
        <div fxLayoutAlign="center start">
          <div class="button-row" fxLayoutGap="160px" fxLayout="row" class="button">
            <button mat-raised-button type="submit" color="warn" value="Register"
              (click)="registerNow()">Submit</button>
            <button mat-raised-button type="submit" color="primary">Clear</button>
          </div>
        </div>
      </form>
    </mat-card>

  </div>