<div class="main">
    <div fxLayoutAlign="center center">
        <mat-card class="demo">
            <form [formGroup]="service.form">
                <input type="hidden" formControlName="$key">
                <br>
                <div fxLayout="row" fxLayoutAlign="center start" class="resetheader"> Reset-Password </div>
                <br>
                <div>
                    <mat-form-field appearance="outline" class="form">
                        <mat-label>Password</mat-label>
                        <input [(ngModel)]="userreset.password" id="password" formControlName="password" matInput
                            type="password" placeholder="password*">
                        <mat-icon matSuffix style="margin-right: 10px;" color="disabled">vpn_key</mat-icon>
                        <mat-error>
                            This field is mandatory
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="form">
                        <mat-label>Confirm-Password</mat-label>
                        <input [(ngModel)]="userreset.confirmPassword" id="confirmPassword"
                            formControlName="confirmPassword" matInput type="confirmPassword"
                            placeholder="confirmpassword*">
                        <mat-icon matSuffix style="margin-right: 10px;" color="disabled">call</mat-icon>
                        <mat-error>
                            This field is mandatory
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <div class="button-row" fxLayout="row">
                        <button mat-raised-button type="submit" color="warn" fxLayout="column" value="Reset"
                            (click)="ResetNow()">Submit</button>
                        <button mat-raised-button color="primary">Clear</button>
                    </div>
                </div>
            </form>
        </mat-card>

    </div>