<div fxLayoutAlign="center center"class="main-div">
  <form [formGroup]="service.form" fxLayoutAlign="stretch">
  <mat-card class="demo">
    <input type="hidden" formControlName="$key">
      <mat-toolbar color="warn">ResetPassword</mat-toolbar>
          <mat-form-field fxLayout="column">
            <input formControlName="password" matInput type="password " placeholder="password*">
            <mat-icon matSuffix style="margin-right: 10px;" color="disabled">lock_open</mat-icon>

            <mat-error>
              This field is mandatory.
            </mat-error>
          </mat-form-field>
        
          <mat-form-field fxLayout="column">
            <input  formControlName="confirmpassword"matInput type=" confirm-password" placeholder="confirm-password*">
            <mat-icon matSuffix style="margin-right: 10px;" color="disabled">vpn_key</mat-icon>

            <mat-error>
              This field is mandatory.
            </mat-error>
          </mat-form-field>
          <div class="button-row" fxLayout="row">
            <button mat-raised-button type="submit" color="warn" >Submit</button>
            <button mat-raised-button type="submit" color="primary" >Clear</button>
          </div>    
  </mat-card>
</form>
</div>