mat-toolbar
{
  align-items: center;
  display: flex;
  justify-content: left;
}
 .matcard
 {
width: 100%;
 }
 mat-icon
 {
   display:flex;
   justify-content: right;
 }
 form {
  display: flex;
  align-content: center;
 }
 mat-raised-button
 {
   padding: 0%;
 }
 .form-size
 {
height: 100%;
width: 100%;
 }
 .main-div{
  height: 100vh;
}
.demo
{
  width: 20vw;
  height: 40vh;
}