
<div fxLayoutAlign="center center" class="main-div">
    <form [formGroup]="service.form" fxLayoutAlign="stretch" >  
      <mat-card  class="demo">
            <input type="hidden" formControlName="$key">
                <mat-toolbar color="warn" fxLayout="row">Resetpassword!!!</mat-toolbar>
                <mat-form-field  fxLayout="column">
                    <input  [(ngModel)]="userreset.password" id="password"  formControlName="password" matInput type="password" placeholder="password*">
                    <mat-icon matSuffix style="margin-right: 10px;" color="disabled">vpn_key</mat-icon>
                    <mat-error>
                      This field is mandatory
                    </mat-error>
                    </mat-form-field>
                    <mat-form-field  fxLayout="column">
                      <input  [(ngModel)]="userreset.confirmPassword" id="confirmPassword"  formControlName="confirmPassword" matInput type="confirmPassword" placeholder="confirmpassword*">
                      <mat-icon matSuffix style="margin-right: 10px;" color="disabled">call</mat-icon>
                      <mat-error>
                        This field is mandatory
                      </mat-error>
                      </mat-form-field>

                      <div class="button-row" fxLayout="row">
                      <button mat-raised-button type="submit" color="warn" fxLayout="column"  value="Reset" (click)="ResetNow()">Submit</button>
                      <button mat-raised-button color="primary" >Clear</button>  
                      </div>  
                    </mat-card>
        </form>      
      </div>